parameters:
    level: 8

    errorFormat: symplify

    paths:
        - bin
        - src
        - config
        - packages
        - tests

    excludePaths:
        - '*/Source/*'
        - '*/Fixture/*'

    ignoreErrors:
        -
            message: '#Parameter \#1 \$commandName of method Symfony\\Component\\Console\\Application\:\:setDefaultCommand\(\) expects string, string\|null given#'
            path: src/Console/ConfigTransformerApplication.php

        # php-config-printer: PHP version is resolved at runtime
        -
            message: '#Comparison operation ">\=" between int<.*> and 80000 is always true#'
            path: packages/php-config-printer/src/NodeFactory/ArgsNodeFactory.php
        -
            message: '#Right side of && is always true#'
            path: packages/php-config-printer/src/NodeFactory/ArgsNodeFactory.php

        # php-config-printer: php-parser node typing, unclear what to do
        -
            message: '#Parameter \#1 \$items of class PhpParser\\Node\\Expr\\Array_ constructor expects array<PhpParser\\Node\\ArrayItem>, array<PhpParser\\Node\\Arg> given#'
            path: packages/php-config-printer/src/NodeFactory/NewValueObjectFactory.php

        # php-config-printer: suppressed upstream via treatPhpDocTypesAsCertain: false
        -
            message: '#Instanceof between PhpParser\\Node\\ArrayItem and PhpParser\\Node\\ArrayItem will always evaluate to true#'
            path: packages/php-config-printer/src/NodeFactory/ContainerConfiguratorReturnClosureFactory.php
        -
            message: '#Call to static method Webmozart\\Assert\\Assert\:\:allIsInstanceOf\(\) with iterable<Symplify\\PhpConfigPrinter\\Contract\\Converter\\ServiceOptionsKeyYamlToPhpFactoryInterface> and .* will always evaluate to true#'
            path: packages/php-config-printer/src/NodeFactory/Service/ServiceOptionNodeFactory.php
