parameters:
    level: 8

    paths:
        - bin
        - src
        - config
        - tests

    excludePaths:
        - '*/Source/*'
        - '*/Fixture/*'

    ignoreErrors:
        -
            message: '#Parameter \#1 \$commandName of method Symfony\\Component\\Console\\Application\:\:setDefaultCommand\(\) expects string, string\|null given#'
            path: src/Console/ConfigTransformerApplication.php
