parameters:
	ignoreErrors:
		-
			message: '#^Function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service not found\.$#'
			identifier: function.notFound
			count: 1
			path: config/config.php

		-
			message: '#^Used function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service not found\.$#'
			identifier: function.notFound
			count: 1
			path: config/config.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\AliasCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/AliasCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ClassServiceCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ClassServiceCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ConfiguredServiceCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ConfiguredServiceCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ExtensionConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ExtensionConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ImportCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ImportCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\NameOnlyServiceCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/NameOnlyServiceCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\NestedCaseConverter\\InstanceOfNestedCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/NestedCaseConverter/InstanceOfNestedCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ParameterCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ParameterCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ResourceCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ResourceCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\CaseConverter\\ServicesDefaultsCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/CaseConverter/ServicesDefaultsCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ExprResolver\\ServiceReferenceExprResolver\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ExprResolver/ServiceReferenceExprResolver.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ExprResolver\\StringExprResolver\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ExprResolver/StringExprResolver.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ExprResolver\\TaggedReturnsCloneResolver\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ExprResolver/TaggedReturnsCloneResolver.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ExprResolver\\TaggedServiceResolver\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ExprResolver/TaggedServiceResolver.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\ArgsNodeFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/ArgsNodeFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\ContainerConfiguratorReturnClosureFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/ContainerConfiguratorReturnClosureFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\ContainerNestedNodesFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/ContainerNestedNodesFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\RoutingConfiguratorReturnClosureFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/RoutingConfiguratorReturnClosureFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\Service\\AutoBindNodeFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/Service/AutoBindNodeFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\Service\\ServiceOptionNodeFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/Service/ServiceOptionNodeFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\Service\\ServicesPhpNodeFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/Service/ServicesPhpNodeFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeFactory\\Service\\SingleServicePhpNodeFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeFactory/Service/SingleServicePhpNodeFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeModifier\\SingleFactoryReferenceNodeModifier\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeModifier/SingleFactoryReferenceNodeModifier.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeTraverser\\ImportFullyQualifiedNamesNodeTraverser\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeTraverser/ImportFullyQualifiedNamesNodeTraverser.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\NodeVisitor\\ImportFullyQualifiedNamesNodeVisitor\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/NodeVisitor/ImportFullyQualifiedNamesNodeVisitor.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\PhpParser\\NodeFactory\\ConfiguratorClosureNodeFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/PhpParser/NodeFactory/ConfiguratorClosureNodeFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\Printer\\ArrayDecorator\\ServiceConfigurationDecorator\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/Printer/ArrayDecorator/ServiceConfigurationDecorator.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\Printer\\NodeDecorator\\EmptyLineNodeDecorator\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/Printer/NodeDecorator/EmptyLineNodeDecorator.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\RoutingCaseConverter\\ImportRoutingCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/RoutingCaseConverter/ImportRoutingCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\RoutingCaseConverter\\PathRoutingCaseConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/RoutingCaseConverter/PathRoutingCaseConverter.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\AbstractServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/AbstractServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\ArgumentsServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/ArgumentsServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\AutowiringTypesOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/AutowiringTypesOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\BindAutowireAutoconfigureServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/BindAutowireAutoconfigureServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\CallsServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/CallsServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\DecoratesServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/DecoratesServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\DeprecatedServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/DeprecatedServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\FactoryConfiguratorServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/FactoryConfiguratorServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\PropertiesServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/PropertiesServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\SharedPublicServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/SharedPublicServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\PhpConfigPrinter\\ServiceOptionConverter\\TagsServiceOptionKeyYamlToPhpFactory\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/php-config-printer/src/ServiceOptionConverter/TagsServiceOptionKeyYamlToPhpFactory.php

		-
			message: '#^Unused Symplify\\ConfigTransformer\\ConfigLoader\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/ConfigLoader.php

		-
			message: '#^Unused Symplify\\ConfigTransformer\\Converter\\ConfigFormatConverter\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Converter/ConfigFormatConverter.php

		-
			message: '#^Unused Symplify\\ConfigTransformer\\FileSystem\\ConfigFileDumper\:\:__construct$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/FileSystem/ConfigFileDumper.php
